img{
    height: 200px;
}

.stats {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 200px;
}

main {
    /* background: url(public/pokeball.png) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}