 .searchcss .perpagecss {
        /* padding: 10px; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; */
        /* margin: 50px;
        border: 50px black solid; */
        /* padding: 100px; */
}



.typeselectioncss .ordercss {
  margin: 10px;

}

